// COLORS
// $primary-color: #02aab0;
// $secondary-color: #00cdac;

$primary-color: #1F7872;
$secondary-color: #72B095;

$white-color: #DEDBA7;
$black-color:#1A202C;
$yellow-color:#D13F31;
$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
